@{
    ViewData["Title"] = "About";
}


<!-- About Section Start -->
<div id="about">
    <div class="container">
        <div class="section-header">
            <h2>About Royal Hotel</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 img-cols">
                <div class="img-col">
                    <img class="img-fluid" src="/img/about/about-1.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col ">
                    <h3>Lorem ipsum dolor</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla justo justo. Proin sodales bibendum pharetra. Aliquam blandit sapien eu nisl dictum pretium.
                    </p>
                    <p>
                        Belirttiğiniz dosyanın (Cinar2024042701nn1098.jpg) belirtilen yolda (C:\Users\imran\OneDrive\Desktop\HappyNatureHouse_MVC\HappyNatureHouse_MVC\wwwroot\uploads) gerçekten var olduğundan emin olun. Eğer dosya eksikse veya yükleme işlemi başarısız olmuşsa, şu adımları takip edebilirsiniz:

                        Dosya Yolunu Doğrulayın:
                        Bilgisayarınızdaki dosya gezgini veya terminal kullanarak belirtilen dosya yoluna gidin. Dosyanın gerçekten var olduğunu kontrol edin.

                        Yükleme İşlemi:
                        Dosyayı yüklediğiniz kodu veya işlemi kontrol edin. Eğer dosya yükleme işlemi yapıyorsanız, kodunuzun dosyayı doğru yola yüklediğinden emin olun. Yükleme işleminde bir hata olup olmadığını kontrol edin.

                        Dosya İzinleri:
                        Dosyanın bulunduğu dizinde uygun dosya izinlerine sahip olduğunuzdan emin olun. Dosya okuma ve yazma izinlerini kontrol edin.

                        Dosya Adı ve Uzantısı:
                        Dosya adının ve uzantısının doğru olduğundan emin olun. Belirtilen dosya adı ve uzantısıyla dosyanın uyumlu olup olmadığını kontrol edin.

                        Hata Ayıklama:
                        Eğer hata devam ediyorsa, yükleme işlemi sırasında ortaya çıkan hataları belirlemek için hata ayıklama araçlarını kullanın. Konsol veya hata günlüklerindeki bilgiler, neden dosyanın doğru yere yüklenemediğini gösterebilir.

                        Bu adımları kontrol ettikten sonra dosyanın hala yüklenemediğini düşünüyorsanız, ilgili kod parçacığınızı paylaşarak daha fazla yardım isteyebilirsiniz. Dosyanın yüklendiği kısım ve bu işlemle ilgili kodlar, sorunu daha iyi anlamamıza yardımcı olacaktır.
                    </p>
                    <a href="/#">Learn More</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 img-cols d-block d-md-none">
                <div class="img-col">
                    <img class="img-fluid" src="/img/about/about-2.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    <h3>Lorem ipsum dolor</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla justo justo. Proin sodales bibendum pharetra. Aliquam blandit sapien eu nisl dictum pretium.
                    </p>
                    <p>
                        Nam fringilla justo justo. Proin sodales bibendum pharetra. Aliquam blandit sapien eu nisl dictum pretium.
                    </p>
                    <a href="/#">Learn More</a>
                </div>
            </div>
            <div class="col-md-6 img-cols d-none d-md-block">
                <div class="img-col">
                    <img class="img-fluid" src="/img/about/about-2.jpg">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 img-cols">
                <div class="img-col">
                    <img class="img-fluid" src="/img/about/about-3.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    <h3>Lorem ipsum dolor</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla justo justo. Proin sodales bibendum pharetra. Aliquam blandit sapien eu nisl dictum pretium.
                    </p>
                    <p>
                        Nam fringilla justo justo. Proin sodales bibendum pharetra. Aliquam blandit sapien eu nisl dictum pretium.
                    </p>
                    <a href="/#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->