@using HappyNatureHouse_MVC.Areas.Admin.ViewModels.CottageVMs;
@{
    ViewData["Title"] = "Edit";
}

@model CottageEditViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-12">
        <h2>Kotecdə Dəyişiklik olunması</h2>
        @if (TempData["FailedOperation"] != null)
        {
            <div style=" width: 40%;font-size: x-large;" class="alert alert-danger" role="alert">
                @TempData["FailedOperation"]
            </div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
        <form method="post" asp-area="Admin" asp-controller="Cottage" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data" asp-antiforgery="true">
            <div class="row mb-3">
                <label asp-for="Name" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Title" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Description" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Price" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Price" class="form-control">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="DiscountPrice" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DiscountPrice" class="form-control">
                    <span class="text-danger" asp-validation-for="DiscountPrice"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <h2>Hal-hazırki Şəkil: </h2>
                </div>             
                <div style="padding: 0;" class="col-md-2">
                    <img style="width: 100%; height: auto; display: block;"  src="/uploads/@Model.Picture" alt="@Model.Name">
                    <input asp-for="@Model.Picture" type="hidden"/>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Image" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Image" class="form-control">
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>

            </div>
            <div class="row mb-3">
                <label asp-for="RoomCount" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="RoomCount" class="form-control">
                    <span class="text-danger" asp-validation-for="RoomCount"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="GuestCount" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="GuestCount" class="form-control">
                    <span class="text-danger" asp-validation-for="GuestCount"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="SingleBed" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="SingleBed" class="form-control">
                    <span class="text-danger" asp-validation-for="SingleBed"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="DoubleBed" class="col-md-3 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DoubleBed" class="form-control">
                    <span class="text-danger" asp-validation-for="DoubleBed"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <label asp-for="Status" class="col-md-3 col-form-label"></label>
                    <input asp-for="Status" type="checkbox">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 offset-md-3">
                    <button type="submit" class="btn btn-primary">Əlavə et</button>
                </div>
            </div>
        </form>
    </div>
</div>